:root {
    --text-color: #000000;
    --main-background-color: #ffffff;
    --secondary-background-color: #000000;
    --main-border: 1px solid #000000;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 400 14px 'Inter', sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

input {
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}

.app {
    display: flex;
    flex-direction: column;
    width: 460px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--color-accent);
}

.app-header {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.app-footer {
    text-align: center;
    padding: 8px 0;
}

button {
    height: 40px;
    cursor: pointer;
    padding: 0 10px;
    border: none;
}

button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

button.primary {
    background-color: black;
    color: white;
}

button.secondary {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
}

/* --- Toast --- */

div.toast-container {
    background-color: var(--main-background-color);
    border: var(--main-border);
    position: absolute;
    padding: 0;
    right: 5px;
    top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 200px;
    z-index: 1;
}

div.toast-body {
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 5px;
}

div.toast-progress {
    background-color: var(--secondary-background-color);
    height: 5px;
    animation: progress-animation 5s;
}

@keyframes progress-animation {
    from { width: 0 }
    to   { width: 100% }
}

p.toast-message {
    color: var(--text-color);
}

button.toast-close-btn {
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

dialog.toast-dialog {
    width: 100%;
    border: 0;
    padding: 0;
}

/*---- FORM ----*/
.employee-form {
    background-color: #FFFFFF;
    border: 2px solid black;
    padding: 20px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

form.employee-form div.ant-input-number-input-wrap input.ant-input-number-input::placeholder,
input.ant-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input.form-input:focus-within, input.form-input:focus-visible,
.department-list:focus-within, .department-list:focus-within > div,
form.employee-form div.ant-input-number:focus-within {
    outline: 1px solid black;
    border-color: black;
    box-shadow: none;
}

input.form-input, input.form-input:hover {
    border: 1px solid black;
    height: 40px;
    /*margin-bottom: 20px;*/
    padding: 2px 8px;
    width: 100%;
    color: black;
    border-radius: 0;
}

.ant-form-item-explain-error {
    font-size: 12px;
}

form.employee-form div.ant-input-number {
    /*border: 0;*/
    width: 100%;
    /*margin-bottom: 20px;*/
    border-radius: 0;
    border: 1px solid black;
}

form.employee-form div.ant-input-number-input-wrap input.ant-input-number-input {
    height: 40px;
    padding: 2px 8px;
    width: 100%;
    color: black;
    border-radius: 0;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.action-buttons button {
    font-size: 14px;
    width: 120px;
}

.action-buttons button.primary {
    margin-left: 20px;
}

.department-list > div {
    border-radius: 0;
    border: 1px solid black;
    width: 100%;
    box-shadow: none;
}

.department-list > div:hover {
    border: 1px solid black;
}

.department-list input {
    color: black;
}

.department-list div svg > path {
    fill: black;
}

button.close-btn {
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0;
    border: 1px solid #000000;
}

button.close-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

dialog.modal {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    padding: 0;
}